<h1>Juego de Amigo Invisible</h1>
<h3>Bienvenido!</h3>

<ng-container *ngIf="contactoSeleccionado; else noSeleccionado">
  <h4>Tu Amigo Invisible es : {{ contactoSeleccionado.name.first }}</h4>
</ng-container>

<ng-template #noSeleccionado>
  <div>
    <p>Selecciona a tu amigo invisible</p>
  </div>
</ng-template>

<button mat-raised-button color="primary" (click)="navegarAContactos()">
  Ver todos tus contactos
</button>

<div>
  <p>Filtros:</p>

  <a [routerLink]="['/contacts']" [queryParams]="{ sexo: 'female' }"
    >Amigas |</a
  >

  <a [routerLink]="['/contacts']" [queryParams]="{ sexo: 'male' }"> | Amigos</a>
</div>
