<!-- Montamos el Login Form haciendo uso de componentes Material -->

<mat-card>
  <!-- Cabecera de la tarjeta -->

  <mat-card-header>
    <mat-card-title> Login </mat-card-title>
    <mat-card-subtitle> Accede a tu cuenta </mat-card-subtitle>
  </mat-card-header>

  <!-- Contenido de la tarjeta -->
  <mat-card-content>
    <!-- Formulario de Login -->
    <form [formGroup]="loginForm" (submit)="submitLogin()">
      <!-- Email -->
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
          El email es obligatorio
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
          El formato de email no es válido
        </mat-error>
      </mat-form-field>

      <!-- Password -->

      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
          El password es obligatoria
        </mat-error>
      </mat-form-field>

      <!-- Boton para submit del formulario -->
      <!-- El boton estara deshabilitado si el formulario de login es invalido -->
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
