// Estilos para los niveles de tareas

.info-task {
    color: rgb(90, 90, 213);
  }
 
  
.urgent-task {
    color: rgb(215, 189, 140);
  }
 
  
.blocking-task {
    color: rgb(255,164,148);
  }
  
  


 
  